h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.form-item {
  text-align: center;
}

#delete-all {
  text-align: center;
}

button, input[type="submit"] {
  margin-top: 1rem;
}
